@using budget_management_system.Interfaces

@model ReportTransactionModel

@{
	ViewData["Title"] = "Account report";
}

<h1 class="mb-3">Report account: @ViewBag.Account</h1>

<h4>
	<a asp-route-month="@ViewBag.PreviousMonth" asp-route-year="@ViewBag.PreviousYear" class="btn btn-secondary">
		<i class="bi-chevron-left"></i>
	</a>
	@Model.CreatedAt.ToString("MMM") - @Model.CreatedAt.Year
	<a asp-route-month="@ViewBag.NextMonth" asp-route-year="@ViewBag.NextYear" class="btn btn-secondary">
		<i class="bi-chevron-right"></i>
	</a>
</h4>

<section class="accounts-balance-container mb-3">
	<article>
		<article>
			<strong>Active</strong>
		</article>
		<article class="active">
			@Model.IncomeAmount.ToString("N")
		</article>
	</article>
	<article>
		<article>
			<strong>Passive</strong>
		</article>
		<article class="passive">
			@Model.ExpenseAmount.ToString("N")
		</article>
	</article>
	<article>
		<article>
			<strong>Total</strong>
		</article>
		<article class="active">
			@Model.Total.ToString("N")
		</article>
	</article>
</section>

@if (Model.GroupedTransactions.Count() == 0)
{
	<p>No records to show.</p>
}
else
{
	<table class="table">
		<tbody>
			@foreach (var groupedTransaction in Model.GroupedTransactions)
			{
				<tr style="background-color: lightblue; font-size: 1rem">
					<td colspan="3">
						<span class="badge bg-secondary">
							@groupedTransaction.TransactionDate.ToString("ddd")
						</span>
					</td>
					<td class="active">@Model.IncomeAmount.ToString("N")</td>
					<td class="passive">@Model.ExpenseAmount.ToString("N")</td>
				</tr>
				@foreach (var transaction in groupedTransaction.Transactions)
				{
					<tr style="vertical-align: middle">
						<td>
							<a asp-controller="Transaction" asp-action="UpdateTransaction" asp-route-id="@transaction.Id" asp-route-ReturnURL="@ViewBag.ReturnURL">
								<i class="bi-pencil"></i>
							</a>
						</td>
						<td>@transaction.Category</td>
						<td>@transaction.Account</td>
						<td class="active">
							@(transaction.TransactionTypeId == ETransactionType.Income
											? @transaction.Amount.ToString("N")
											: null
											)
						</td>
						<td class="passive">
							@(transaction.TransactionTypeId == ETransactionType.Expense
											? @transaction.Amount.ToString("N")
											: null
											)
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
}